body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(224, 176, 214), rgb(187, 182, 179)); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}